* {
    margin: 0;
    padding: 0;
}

body{
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Text and Images */
.heading{
    /*styles for "Our Story" heading */
    font-size: 80px;
    text-align: center; /* Puts text in the middle */
    font-weight: bold;
    color: black;
    padding: 30px;
    padding-bottom: 40px;
    background-color: rgb(255, 0, 0, 0.8); /* red background */
    margin-left: -40px;
    margin-right: -40px; /* removes padding from left and right */  
}

.motto{
    text-align: center; /* Puts text in the center */
    padding: 50px;
    font-size: 60px;
    font-style: italic; /* Italic font */
    color: black;
}
.main_info{
    display: flex; /* flexbox */
    align-items: center; /* Puts them in the center */
    gap: 30px; /* Gap between them */
}

.paragraph{
    flex:1;
}