/* Footer */
.main-footer {
    background-color: black;
    padding: 40px 0;
    /* removes padding from left and right */
    margin-right: -40px;
    margin-left: -40px;
    display: flex;
    flex-direction: column; /* Stacks the socials, links, and text */
    align-items: center; /* Centers everything horizontally */
    gap: 20px; /* Space between the three rows */
    margin-top: 50px;

}

/* Social Icons Row */
.footer-socials {
    display: flex; /* flexbox */
    justify-content: center;
    gap: 10px; /* gap in between icons */
}

.footer-socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid grey; /* white circle */
    border-radius: 50%; /* Makes it a perfect circle */
    color: grey; /* Icon color */
    text-decoration: none; /* removes default link decoration */
    font-size: 20px;
    transition: 0.3s; /* Transition when hovered over */
}

.footer-socials a:hover {
    color: white;         /* white on hover */
    border-color: white;
}

/* Links Row */
.footer-links {
    display: flex; /* flexbox */
    list-style: none;
    gap: 20px; /* gap between each link */
    padding: 0;
    margin: 0;
}

.footer-links a {
    text-decoration: none; /* removes default link decoration */
    color: #999;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline; /* small underline when hovered over */
}

/* Copyright Row */
.footer-copyright {
    color: #999;
    font-size: 12px;
    margin: 0;
}