* {
    margin: 0;
    padding: 0;
}

body{
    padding-top: 100px;
}

/* Carousel */
.w-100{
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.carousel{
    width: 100%;
}

/* Text and Images */
.motto{
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-style: italic;
}
.main_info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.paragraph{
    flex:1;
    padding-left: 50px;
}

.burger_man{
    margin-right: 50px;
}

