* {
    margin: 0;
    padding: 0;
}

body{
    padding-top: 100px;
}

/* Navigation Bar */

.nav_bar {
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100px;
}

.nav_logo{
    flex: 1;
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    margin-right: -300px;
}


.nav_links{
    flex: 2;
    display: flex;
    gap: 60px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.nav_links a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size:18px;
    font-weight:bold;
    margin-left: 0px;
}

.nav_links a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(230, 0, 0);
    text-decoration-thickness: 3px;
}

.nav_order_button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-left: -100px;
    margin-bottom: 15px;
}

.order_button {
    border-radius: 30px;
    background-color:black;
    color: white;
    font-size: 25px;
    padding: 8px;
    padding-right: 25px;
    padding-left: 25px;
    transition-duration: 0.4s;
    border: none;
}


.order_button:hover {
    background-color: rgb(230, 1, 1);
    color: white;
}

.logo {
    width: 19%;
}

/* Carousel */
.w-100{
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.carousel{
    width: 100%;
}

/* Text and Images */
.motto{
    text-align: center;
    padding: 50px;
    font-size: 60px;
    font-style: italic;
}
.main_info{
    display: flex;
    align-items: center;
    gap: 30px;
}

.paragraph{
    flex:1;
    padding-left: 20px;
}

.burger_man{
    margin-right: 2%;
}

/* Footer */
.footer{
    background-color: black;
    margin-top: 5%;
    padding: 20px;
    color: white;


}