/* Main rules used for each page */
* {
    margin: 0;
    padding: 0;
}

body{
    padding-top: 100px; /* adds padding at the top so content isnt covered by nav bar */
    /* adds gap from left and right */
    padding-left: 40px;
    padding-right: 40px;
}


/* Carousel */
.w-100{
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.carousel{
    width: 100%;
}

/* Card Styles */
.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Gap in between */
    margin-top: 40px;
}

.card {
    flex: 1;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /*adds a slight shadow for each card */
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease; /* transition when it is hovered over */
}

.card:hover {
    transform: translateY(-5px); /* shifts up a bit when hovered over */
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Makes image fit better */
}

.card-content {
    padding: 20px;
    /*flexbox*/
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.button-text {
    text-decoration: none; /* removes blue link color/design */
    color: white;
    width: 100%;
    display: block; /* Makes it so that button is clickable and not just the text */
}

.card h3 {
    margin: 0 0 15px;
}

.card button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ff4d4d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease; /* transition when color changes */
}

.card button:hover {
    background: red; /* new color when hovered over */
}